<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>
</head>
<body style="background-color:#E6E6FA">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="#" style="background-color:green;border-radius:5px"><span style="color:white;">ABC</span></a>-->
<!--        </div>-->
        <ul class="nav navbar-nav">
          <li class="active"  style="border-color:green;width:150px;"><a href="/versions"><span style="font-weight: bold;font-size: 20px;">Home</span></a></li>
           {% for env_type in environment_types_list %}
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="width:100px">{{ env_type }}<span class="caret"></span></a>
                <ul class="dropdown-menu" style="border-radius:5px;">
                    {% for environment in environments_list %}
                        {% if environment.environment_type == env_type %}
<!--                            <li><a href="#">{{ environment.environment_name }}</a></li>-->
                    <li ><a href="{% url 'detail' environment.environment_name %}"><button class="btn btn-sm btn-outline-secondary" type="button" style="width:250px;background-color:#32CD32;"><span style="color:#FFFAFA;font-weight: bold;font-family:Courier New;font-size:20px">{{ environment.environment_name }}</span></button></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
              </li>
            {% endfor%}
            <li class="active"><a href="#" style="width:400px;float:right;background-color:#FFFFF0;border-radius:5px"><span style="color:black;font-family:Georgia, serif;font-weight: bold;font-size: 20px;">AMS Environments Dashboard</span></a></li>
            <li class="active"  style="width:150px;"><a href="/admin" style="float:right;background-color:;border-radius:5px;">Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" style="padding-left:20px;padding-top:50px;float:left">
        <div style="float:left;position:fixed;top:10%;">
            <label style="background-color:#228B22;width:300px;height:50px;border-radius:5px;"><span style="color:white;font-family:Georgia, serif;font-weight: bold;padding:10%;font-size: 25px;">{{ environment.environment_name }}</span></label>
        </div>
        <div style="float:right;position:fixed;top:10%;right:10%;">
            <label style="background-color:#228B22;width:150px;height:50px;border-radius:5px;"><span style="color:white;font-family:Georgia, serif;font-weight: bold;padding:10%;font-size: 25px;">{{ environment.deployed_artifact_version }}</span></label>
        </div>
            <table class="table table-sm table-dark table-hover" style="">
            <thead style="background-color:#87CEFA;">
              <tr>
                  <th scope="col" style="border-bottom: 3px solid black;">Service</th>
                  <th scope="col" style="border-bottom: 3px solid black;">Health endpoint</th>
                  <th scope="col" style="border-bottom: 3px solid black;">IP-Address(Port)</th>
                  <th scope="col" style="border-bottom: 3px solid black;">Version</th>
              </tr>
            </thead>
            <tbody>
              {% for service in environment.services_set.all %}
              <tr>
                <th scope="row" style="border-bottom: 3px solid black;">{{ service.service_name }}</th>
                  <td style="border-bottom: 3px solid black;"><a href="{{ service.health_endpoint }}">{{ service.health_endpoint }}</a></td>
                  <td style="border-bottom: 3px solid black;">{{ service.ip_address }}</td>
                  <td style="border-bottom: 3px solid black;">{{ service.service_version }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

</body>
</html>
