{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">

    <style>{% block style %}{% endblock %}</style>
</head>
<body style="background-image: url(../static/images/background.jfif);">
    <div class="container-fluid">
        <div style="height:100;">
        <img src="{% static "images/NCR_Logo.png" %}" alt="Logo" height="70" width="70" style="float:left;position:fixed;top:0%;left:0%;border-radius:10%">
<!--            <img src="{% static "images/devops-logo.png" %}" alt="Logo" height="100" width="300" style="float:center;position:relative;top:0%;left:35%;">-->
<!--        <h1 style="text-align: center;">AMS releases</h1>-->
<!--            <button type="button" class="btn btn-primary" style="position:fixed;top:5%;left:10%;">Primary</button>-->
            <nav class="navbar" style="left:3.75%;background-color:black;padding-right:100px;height:70px">
                <a href="/environments" ><button class="btn btn-outline-success" type="button" style="width:200px;height:55px;background-color:grey;"><span style="color:white;font-weight: bold;font-size: 18px;">View Environments</span></button></a>
                <div style="position:relative;top:4.5%;left:30%;">
                    <a href="/admin" ><button class="btn btn-sm btn-outline-secondary" type="button" style="width:70px;background-color:#F5DEB3;"><span style="color:green;font-weight: bold;">Login</span></button></a>
                </div>
                <div style="position:relative;top:0%;right:5%;">
                    <a href="/refresh" ><img src="{% static "images/refresh.png" %}" alt="Logo" height="50" width="60" style="border-radius:10%;"></a>
                </div>
            </nav>
            <li class="active"><a href="#" style="position:relative;width:100px;height:55px;position:fixed;top:1.2%;right:0.1%;background-color:#FFFFF0;border-radius:7px"><span style="color:black;font-family:Georgia, serif;font-size: 30px;padding:5%;">AMS</span></a></li>

            <div style="padding-left:60px;padding-right:60px;padding-top:40px;">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
</body>
</html>
