{% extends "base.html" %}
{% block title %}AMS Version Dashboard{% endblock %}
{% block style %}
    <style>
      div.table-div {
      }
      div.table-custom {
          padding-top: 100px
          border: 1px solid #73AD21;
          float:center;
      }
      thead{
        background-color:green
      }
    </style>
{% endblock %}
{% block content %}
  <div class="table-custom">
      <table class="table-custom table table-striped table-dark table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Component</th>
            {% for release in release_versions_list %}
              <th scope="col">{{ release.release_name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for component in component_list %}
          <tr>
            <th scope="row">{{ component.component_name }}</th>
            {% for service in component.serviceversion_set.all %}
              <td>{{ service.service_version }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
